# 忽略 storage/cache/ 目录下的所有内容
/storage/cache/*
/storage/logs/*
/storage/view/*
vendor
/storage/vendor/*

# 但不要忽略 .gitkeep 文件，

!/storage/cache/.gitkeep
!/storage/logs/.gitkeep
!/storage/view/.gitkeep
!/vendor/.gitkeep

/framework/Annotations

storage/app.log
server2.php
storage/workerman/workerman.log
storage/workerman/health.json
storage/workerman/server.log
watch.php
workerman.log
framework/Casbin/Permissionx.php
framework/Casbin/Watcher/Redis.php
